<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tufire.user.dal.mapper.RoleResourceMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.tufire.user.dal.entity.RoleResource" id="roleResourceMap">
        <result property="id" column="id"/>
        <result property="roleId" column="role_id"/>
        <result property="resourceId" column="resource_id"/>
    </resultMap>

    <delete id="deleteRoleResource">
        delete from co_role_resource  where resource_id=#{resourceId}
    </delete>

    <delete id="deleteByRoleId">
        delete from co_role_resource  where role_id=#{roleId}
    </delete>

    <select id="selectResourceIdsByRoleId" resultType="java.lang.Long">
        select resource_id from co_role_resource where role_id = #{roleId}
    </select>
</mapper>